/*Show Case*/
.garamond {
    font-family: Arial
}

.color-aqua {
    color: rgb(60, 165, 165);
}


/*Sections*/
.side {
    
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left-style: solid;
    border-left-color: rgb(60, 165, 165);
    border-left-width: thick;
}

.top {
    padding-top: 6rem;
}